In [7]:
# Initialize findspark to use Spark in a Jupyter Notebook or outside a Spark cluster
import findspark
findspark.init()

# Import necessary SparkSession and functions
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Create a Spark session
spark = SparkSession.builder \
    .appName("MySQLConnection") \
    .config("spark.jars", r"C:\Users\91810\OneDrive\Desktop\Spark installation Folder\mysql-connector-java-8.0.13.jar") \
    .getOrCreate()

In [9]:
# Read a JSON file into a DataFrame
df = spark.read.json(r'C:\Users\91810\Downloads\Grocery_and_Gourmet_Food_5.json.gz')

In [10]:
# Show the contents of the DataFrame
df.show()

+----------+-----+-------+--------------------+-----------+--------------+-----------------+-----+--------------------+--------------+--------+----+
|      asin|image|overall|          reviewText| reviewTime|    reviewerID|     reviewerName|style|             summary|unixReviewTime|verified|vote|
+----------+-----+-------+--------------------+-----------+--------------+-----------------+-----+--------------------+--------------+--------+----+
|4639725183| null|    5.0| No adverse comment.|11 19, 2014|A1QVBUH9E1V6I8|   Jamshed Mathur| null|          Five Stars|    1416355200|    true|null|
|4639725183| null|    5.0|Gift for college ...|10 13, 2016|A3GEOILWLK86XM|        itsjustme| null|      Great product.|    1476316800|    true|null|
|4639725183| null|    5.0|If you like stron...|11 21, 2015|A32RD6L701BIGP|  Krystal Clifton| null|              Strong|    1448064000|    true|null|
|4639725183| null|    5.0|Love the tea. The...|08 12, 2015|A2UY1O1FBGKIE6|          U. Kane| null|           Great tea|    1439337600|    true|null|
|4639725183| null|    5.0|I have searched e...|05 28, 2015|A3QHVBQYDV7Z6U|         The Nana| null|This is the tea I...|    1432771200|    true|null|
|4639725183| null|    4.0|Tea made with Lip...| 05 9, 2015|A14MJZP7H1KHEX|    Carol Ann Nix| null|          Four Stars|    1431129600|    true|null|
|4639725183| null|    5.0|I love this tea! ...| 05 7, 2015| A32CQJQBV7YRT|       Corsair174| null|      Love this tea!|    1430956800|    true|null|
|4639725183| null|    5.0|Discovered this t...|01 28, 2015|A2EUMXCQHCP25R|         Metajohn| null|           Great tea|    1422403200|    true|null|
|4639725183| null|    4.0|Well I bought thi...|12 23, 2014|A3QD1PUOO5I94A|                B| null|Well I bought thi...|    1419292800|    true|null|
|4639725183| null|    5.0|We really like th...|12 17, 2014| A9E9L159FFMHP|          S. Wood| null|We really like th...|    1418774400|    true|null|
|4639725183| null|    5.0|Hard to find in t...|11 25, 2014|A1B65ENXWAN2SB|     Craig Rokosz| null|       good quality.|    1416873600|    true|null|
|4639725043| null|    5.0|I make the best b...|04 29, 2012|A1J205ZK25TZ6W|kez panel project| null|Best for brewed i...|    1335657600|    true|   8|
|4639725043| null|    3.0|I have recently s...|04 11, 2008| ACOICLIJQYECU|              N D| null|Not Bad for iced Tea|    1207872000|    true|   9|
|4639725043| null|    5.0|I like pretty muc...|03 15, 2017|A29RCQA5G0B1BA| Edward Pendleton| null|   A Great Cuppa...!|    1489536000|    true|null|
|4639725043| null|    5.0|I was watching a ...| 03 4, 2017|A34KF6WKUMO0G5|  Kindle Customer| null|Strong for this A...|    1488585600|    true|null|
|4639725043| null|    3.0|it was ok, but it...|02 27, 2017|A2AW00VDYVKKKK|    Lou S. Hegwer| null|        not the same|    1488153600|    true|null|
|4639725043| null|    5.0|Great taste use i...| 02 2, 2017|A2LNL6MN1OEXAM|         G. Smith| null|Great taste use i...|    1485993600|    true|null|
|4639725043| null|    5.0|Best tea for my s...|08 28, 2016|A32TZ4HWVHBYX7|          cowgirl| null|Best tea for my s...|    1472342400|    true|null|
|4639725043| null|    4.0|Good tea. Way bet...| 05 8, 2016|A2AGPIWL0G3UQR|   Paul C. Caliri| null|          Four Stars|    1462665600|    true|null|
|4639725043| null|    1.0|This tea looks li...|03 11, 2016|A2PMV21JFDKJIU|      shopAholicr| null|does not look any...|    1457654400|    true|null|
+----------+-----+-------+--------------------+-----------+--------------+-----------------+-----+--------------------+--------------+--------+----+
only showing top 20 rows

In [11]:
# Convert the 'unixReviewTime' column to a formatted date and create a new column 'date_formatted'

df = df.withColumn('date_formatted',date_format(lit(from_unixtime(col("unixReviewTime")).cast('date')),'MM-dd-yyyy'))

In [12]:
# Drop the 'image' and 'style' columns
df = df.drop('image','style')

In [13]:
# Define connection properties for MySQL

properties = {
    "user": "root",                 # MySQL username
    "password": "2c;%z-AU,9jL1M/",  # MySQL password
    "driver": "com.mysql.cj.jdbc.Driver"   # MySQL JDBC driver
}

# Write the DataFrame to the MySQL database

df.write.jdbc(url="jdbc:mysql://localhost:3306/review_test",  # JDBC URL
              table="reviews",                                # Table name in the database
              mode="overwrite",                               # Write mode (overwrite in this case)
              properties=properties)                          # Connection properties